<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>::Emodoki::</title> 
<link rel="shortcut icon" href="${serverPath}/resources/images/favicon.ico">
</head>
<body>
<div style="width:100%;	float:left;	background:#401157 url(${serverPath}/resources/images/top-nav-bg.jpg) no-repeat;	height:75px;">
  <header style="width:853px; margin:0 auto;">
    <div style="margin:0 auto;">
      <div style="float:left; padding-top:37px;"><img src="${serverPath}/resources/images/emodoki-small.png" title="emodoki" alt="emodoki" border="0" /></div>
    </div>
  </header>
</div>
<div style="width:853px; margin:0 auto;">
  <div style="width:822px;	float:left;	font-size:16px;	-webkit-border-radius: 8px;	-moz-border-radius: 8px;	border-radius:8px;	padding:25px;
	background:#f7f2f9 url(${serverPath}/resources/images/back-bg.png) 279px 752px no-repeat;   margin-top: 21px;">
    <h1 style="	text-align:center;	color:#111111;	font-size:30px;	font-weight:bold; text-transform:uppercase;	font-style:normal;	padding-bottom: 11px;  font-family:Arial, Helvetica, sans-serif; margin-bottom:5px;">CONfirmation</h1>
    <div style="color:#111111;font-style:normal; font-family:Arial, Helvetica, sans-serif; text-align:center;"><strong>Your Emodoki invitation have been sucessfully sent to your recipient!</strong></div>
    <p style="font-family:Arial, Helvetica, sans-serif; text-align:justify; font-size:16px;">Invite more of your friends, share your mood to more people and start letting them know how you feel each day!<br>
    Make Emodoki your daily habit!</p>
    <div style="padding-top:15px; width:776px; margin:auto;"></div>
   
    <img src="${serverPath}/resources/images/confirm_emo.jpg" alt="Mood Chart" border="0" align="right" />
    <div style="color:#000000; font-size:16px; font-style:normal; font-family:Arial, Helvetica, sans-serif; margin-top:15px; float:left; width:500px;">
     <div style="color:#252525; font-family:Arial, Helvetica, sans-serif;"><b>Log in to your emodki account</b><br/>
      <span style="font-family: Arial, Helvetica, sans-serif; color: #f26522">www.emodoki.com</span><br/>
    </div>
      <p>You can also enjoy Emodoki using your mobile phones or other gadgets, simple download the emodoki app and then you can instantly share your mood to anyone, anywhere at any time of the day! Visit <span style="color:#f26522; font-family:Arial, Helvetica, sans-serif;">www.emodoki.com</span> and learn more about my emodoki app.</p>
<h2 style="font-size:25px; font-weight: normal;">Start sharing your mood!</h2>
<p>Enjoy!</p>
    </div>
    <div style="clear:both"></div>
    <div style="text-align:left; width:400px; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:right;"><img src="${serverPath}/resources/images/facebook-small-icon.png" align="left" style="margin-right:5px;" >visit and like our Facebook Fan page<br>
    <a href="https://www.facebook.com/EmodokiShareYourMoods?ref=hi" style="color:#F26522; text-decoration:none;">https://www.facebook.com/EmodokiShareYourMoods?ref=hi</a></div>
  </div>
</div>
</body>
</html>