<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>::Emodoki::</title> 
<link rel="shortcut icon" href="${serverPath}/resources/images/favicon.ico">
</head>
<body>
<div style="width:100%;	float:left;	background:#401157 url(${serverPath}/resources/images/top-nav-bg.jpg) no-repeat;	height:75px;">
  <header style="width:853px; margin:0 auto;">
    <div style="margin:0 auto;">
      <div style="float:left; padding-top:37px;"><img src="${serverPath}/resources/images/emodoki-small.png" title="emodoki" alt="emodoki" border="0" /></div>
    </div>
  </header>
</div>
<div style="width:853px; margin:0 auto;">
  <div style="width:822px;	float:left;	font-size:16px;	-webkit-border-radius: 8px;	-moz-border-radius: 8px;	border-radius:8px;	padding:25px;
	background:#f7f2f9 url(${serverPath}/resources/images/back-bg.png) 279px 752px no-repeat;   margin-top: 21px;">
    <p style="font-family:Arial, Helvetica, sans-serif; text-align:justify; font-size:16px;">We received a request to reset your password associated with this email address. If you made this request follow the instructions given below.</p>
    <div style="padding-top:15px; width:776px; margin:auto;"></div>
    <div style="color:#000000; font-size:16px; font-style:normal; font-family:Arial, Helvetica, sans-serif; margin-top:15px; ">
      <div style="color:#252525; font-family:Arial, Helvetica, sans-serif;"><b>Click the link to reset your password</b><br/>
      <span style="font-family: Arial, Helvetica, sans-serif; color: #f26522"><a href="${serverPath}/resetPassword?q=${UUID}" target="_blank" style="color: #f26522">${serverPath}/resetPassword?q=${UUID}</a></span><br/>
    </div>
      <p>If clicking the link does not work, simple copy and paste the given link on your browser's address window or retype it there. Once redirected to emodoki.com we will give you further instructions on how to reset your password.</p>
      <p>Any informations in regards with your password shall be considered confidential. emodoki.com will not email you and ask to disclose or verify your emodoki.com password. Any suspicious use of your emodoki account can directly be reported to emodoki.com.</p>
<h2 style="font-size:15px; font-weight: normal;"><strong>Thank you for using emodoki.com!</strong></h2>
<p>&nbsp;</p>
  </div>
    <div style="clear:both"></div>
    <div>
    <div style="float:left">www.emodoki.com</div>
    <div style="text-align:left; width:400px; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:right;"><img src="${serverPath}/resources/images/facebook-small-icon.png" align="left" style="margin-right:5px;" >visit and like our Facebook Fan page<br>
    <a href="https://www.facebook.com/EmodokiShareYourMoods?ref=hi" style="color:#F26522; text-decoration:none;">https://www.facebook.com/EmodokiShareYourMoods?ref=hi</a></div>
    </div>
  </div>
</div>
</body>
</html>